.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 18.75rem;
  /* max-width: 28.125rem;
  max-height: 35rem; */
  max-width: 18rem;
  max-height: 30rem;
  min-height: fit-content;
  border-radius: 0.3125em;
  box-shadow: 3px 2px 14px #ffffff33;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  border: 1px solid black;
  cursor: pointer;
  background-color: var(--background);
}

.container:hover {
  transform: translateY(-1rem);
  box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.4);
}

.container,
.wobble {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container[zoomCard="1"] {
  z-index: 999;
  cursor: initial;
  animation: zoomCard 2s linear 0s 1 forwards;
}

@keyframes zoomCard {
  to {
    transform: scale(1.3);
  }
}

.image {
  width: 100%;
  height: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: var(--padding);
  background-color: var(--background);
  font-size: 0.9rem;
}

.rating {
  margin-bottom: var(--padding);
}

.description {
  word-wrap: break-word;
}

.name {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
