.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.controls {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding);
  row-gap: var(--padding);
  border: 1px solid black;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding);
  gap: var(--padding);
}

/* Tablet and Desktop */
@media screen and (min-width: 40em) {
  /* .container {
    background-color: yellow;
  } */
}
